.container {
    display: flex;
    height: calc(100vh - 64px);
    background-color: #f9f9f9;
}

/* 右半部分图表区域 */
.chart-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 20px;
    overflow: auto;
}

.chart-item {
    width: 520px;
    height: 390px;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    padding-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}