.config-panel {
    background-color: #fff;
    /* 浅色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    /* 黑色文字 */
    max-width: 400px;
    margin: 0 auto;
}

.config-title {
    font-size: 19px;
    text-align: center;
    margin: 15px 0;
    color: #333;
}

.config-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.config-row input {
    max-width: 100px;
}

.config-row label {
    /* flex: 1; */
    /* margin-right: 10px; */
    color: #333;
}

.config-input {
    flex: 2;
    margin-right: 10px;
}

.config-select {
    width: 100px;
}

.info-icon {
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-group button {
    width: 100px;
    margin: 0 10px;
}

.ant-select {
    margin-right: 10px;
}

.ant-select-selection-item {
    font-size: 14px;
}