.container {
    display: flex;
    height: calc(100vh - 64px);
    background-color: #f9f9f9;
}

.config-section-function-display {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin: 5px; */
    font-size: 18px;
}

.config-section-function-display p {
    margin: 5px;
    font-size: 18px;
}

/* 右半部分实时数据展示 */
.value-display-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* justify-content: center; */
    gap: 20px;
    /* 间距 */
    padding: 20px;
    height: calc(100vh - 64px);
    overflow: auto;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.value-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    width: 30%;
    height: 250px;
    /* background-color: #f9f9f9; */
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.value-card h2 {
    margin-bottom: 0;
}

.value-card-title {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 92%;
    text-align: center;
    border-bottom: 4px solid #7e7e7e;
}

.value-card-container {
    width: 90%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 4px solid #7e7e7e; */
}

.value-card-container-single {
    width: 90%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-card-container-single span {
    text-align: center;
}

.value-card-left {
    width: 60px;
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-card-right {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* .value-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 217px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.value-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
} */

.value {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    padding: 8px 0;
    width: 98%;
}

.value-card:last-child .value {
    padding: 5px 0;
}

.value-card-left .value:not(:first-child),
.value-card-right .value:not(:first-child) {
    border-top: 2px dashed #7e7e7e;
}

.value-card-right .value {
    text-align: center;
}