.container {
    display: flex;
    height: calc(100vh - 64px);
    background-color: #f9f9f9;
}

.config-section-function-display {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin: 5px; */
    font-size: 18px;
}

.config-section-function-display p {
    margin: 5px;
    font-size: 18px;
}

/* 右半部分实时数据展示 */
.value-display-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    /* 间距 */
    padding: 20px;
    height: calc(100vh - 64px);
    overflow: auto;
}

.value-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 217px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.value-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.value {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}